{% extends 'educ/publica/index.html' %}
{% block titulo %}<title> Estudiantes</title>{% endblock titulo %}
    {% block registro %}{% endblock registro %}
{% block contenido %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Dni</th>
                <th>Ejes</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            {% for estudiante in listado %}
                <tr>
                    <td>{{estudiante.id}}</td>
                    <td>{{estudiante.nombre}}</td>
                    <td>{{estudiante.apellido}}</td>
                    <td>{{estudiante.email}}</td>
                    <td>{{estudiante.dni}}</td>
                    <td style="width: 50px">
                        <ul>
                            {% for eje in estudiante.ejes.values %}
                                <li style="font-size: 50%; background-color: inherit">{{ eje.nombre }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td><button><a href="{% url 'estudiantes_editar' estudiante.id %}">Editar</a></button></td>
                    <td><button><a href="{% url 'estudiantes_borrar' estudiante.id %}">Borrar</a></button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="info"><a href="{% url 'estudiante_nuevo' %}">Nuevo</a></button>
{% endblock contenido %}