{% extends './bio1.html' %}
    {% load static %}
    {% block titulo %}<title>Eje 2 Reproducción</title>{% endblock titulo %}
    {% block header %}
    <header>
        {% include './banner.html' %}
        {% include './nav1.html' %}
        <h1>Eje 2: Panorama general de la reproducción</h1>
        <br><br>        
    </header>
    {% endblock header %}
    {% block contenido %}
    <main>
        <section class="temaeje">
            <div id="2.1"><h4 class="title">Concepto de reproducción en seres vivos.</h4></div>
            <div id="2.2"><h4 class="title">Reproducción asexual.</h4></div>
            <div id="2.3"><h4 class="title">Reproducción sexual: células sexuales, fecundación.</h4></div>
            <div id="2.4"><h4 class="title">Sistemas reproductores femenino y masculino en humanos: estructuras y funcionamiento.</h4></div>
            <div id="2.5"><h4 class="title">La gestación, el embarazo, el parto, el puerperio.</h4></div>
            <div id="2.6"><h4 class="title">Desarrollo embrionario en humanos.</h4></div>
            <div id="2.7"><h4 class="title">La pubertad y la adolescencia: crecimineto y desarrollo. Cambios anatómicos y fisiológicos en distintas etapas vitales.</h4></div>
            <div id="2.8"><h4 class="title">Reflexión sobre los cambios corporales, la responsabilidad individual y/o de la pareja en cuestiones relacionadas con el cuidado del cuerpo y la salud reproductiva.</h4></div>
            <div id="2.9"><h4 class="title">Proceso salud-enfermedad.</h4></div>
            <div id="2.10"><h4 class="title">Prevención-tratamientos.</h4></div>
            <div id="2.11"><h4 class="title">Promoción de la salud sexual y reproductiva. Prácticas de prevención y cuidado. Infecciones de transmisión sexual y otras infecciones.</h4></div>
            <div id="2.12"><h4 class="title">El embarazo adolescente.</h4></div>
            <div id="2.13"><h4 class="title">Metodos anticonceptivos.</h4></div>
            
        </section>
    {% endblock contenido %}