{% extends './bio1.html' %}
    {% load static %}
    {% block titulo %}<title>Eje 1 Seres vivos</title>{% endblock titulo %}
    {% block header %}
    <header>
        {% include './banner.html' %}
        {% include './nav1.html' %}
        <h1>Eje 1: Los seres vivos, unidad y diversidad</h1>
        <br><br>        
    </header>
    {% endblock header %}
    {% block contenido %}
    <main>
        <section class="temaeje">
            {% for tema in lista_temas %}
                <div><h4 class="title">{{tema|capfirst}}</h4>
            {% endfor %}
        </section>
    {% endblock contenido %}
