{% load static %}
<img src="{% static 'educ/publica/assets/imgbio1/tira2bio1.jpg' %}" alt="banner ostoeduc" width="100%">
            <nav>
                <ul>
                    <li><a href="{% url 'inicio' %}">Inicio Ostoeduc</a></li>
                    <li><a href="{% url 'bio1' %}">Biología 1°</a></li>
                    <li><a href="{% url 'bio1eje1' %}">Eje 1 Seres vivos</a></li>
                    <li><a href="{% url 'bio1eje2' %}">Eje 2 Reproducción</a></li>
                    <li><a href="{% url 'bio1eje3' %}">Eje 3 Diversidad seres vivos</a></li>
                </ul>
            </nav>